* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden !important;
}

.header {
    background-color: transparent !important;
}

#hero {
    background-image: url('http://themes247.net/html5/construction/demo/assets/img/slider/1.jpg');
    height: 100vh;
}

.logo {
    height: 2rem;
    max-width: 50% !important;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.title-hero {
    font-size: 4rem !important;
}

.title-hero-section {
    visibility: inherit;
    transition: none 0s ease 0s;
    line-height: 35px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 6px;
    font-weight: 400;
    font-size: 26px;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.portfolio-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 0.72em 2.1em;
    font-size: 1rem !important;
    letter-spacing: 2px;
    background-color: #ffc925 !important;
    border: 2px solid #ffc925 !important;
}

.const-title{
    color: black !important;
    outline: 0;
    text-decoration: none !important;
    font-size: 1.5rem !important;
}

.wprt-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: inline-block;
    padding: 0.72em 2.1em;
    letter-spacing: 2px;
    background-color: #ffc925;
    border: 2px solid #ffc925;
    color: #fff;
    font-size: 1rem !important;
}

.desc {
    padding: 0.5rem 2rem !important;
}
.wprt-counter.accent-type .number {
    color: #ffc925;
    font-size: 40px;
    line-height: normal;
    /* color: #252525; */
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3px;
}

.wprt-counter.accent-type .text {
    color: #fff;
    font-size: 0.928em;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
}

.wprt-spacer{
    height: 100px;
}

.itmes ul li{
    list-style: none !important;
    font-size: 14px;
    padding: 4px 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.active{
    background-color: #ffc925 !important;
}

.wprt-subtitle {
    font-size: 1.142em;
    line-height: 1.785em;
    max-width: 770px;
    padding: 2px 0;
    margin: 0 auto;
    text-align: center;
}

.wprt-icon-text {
    border: 1px solid #f1f1f1;
    text-align: center;
    border-radius: 3px;
}

.wprt-icon-text .construction{
    font-size: 15px;
    line-height: 40px;
    margin: 0;
    color: #aeaeae !important ;
}

.icon{
    background-color: #f5f5f5;
    color: #aeaeae !important ;
    font-size: 3rem !important;
    padding: 1rem 0rem;
}

footer{
    background-color: black !important;
}

/* .instagram-wrap{
    display: flex;
}  */

.insta-img{
   
    height: 5rem !important;
    width: 5rem !important;
}

.image-section{
    padding-right: 0 !important;
    padding-left:  0 !important;
    --bs-gutter-x : 0 !important
}




  .bg-b{
    background-color: black !important;
    color: #fff !important;
    transition: 2s;
  }

  .bg-t{
    background-color: transparent !important;
    color: black !important;
    transition: 2s;
  }

